.app {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

button {
  height: 100px;
  width: 300px;
  background: none;
  border-radius: 6px;
  font-size: 34px;
  color: #000;
  background-color: #8D230F;
}

button:hover {
  /*background-color: #565656;*/
  color: #D7CEC7;
  cursor: pointer;
}

body {
  font-family: 'Lato', sans-serif;
}

.headerView {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: flex-start;
}

h1 {
  font-size: 34px;
}

h4 {
  font-size: 16px;
}
