
.videoContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.statusFeed {
  background-color: #1E434C;
  border-radius: 6px;
  width: 300px;
  height: 468px;
  overflow-y: scroll;
  padding-bottom: 10px;
}


.videoStatus {
  font-size: 16px;
}

.feedLine {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  margin-bottom: 6px;
  color: #fff;
}

.timeDiv {
  margin-right: 60px;
}

.feedTitle {
  text-align: center;
}
